---
// HubSpot Chat Component for Starlight
---

<div id="hubspot-chat-container">
	<!-- HubSpot Chat Widget will be loaded here -->
</div>

<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/146681919.js"></script> 